.add-book {
  margin: 1.8rem auto;
  width: 90%;
}

.add-book-headline {
  color: #888;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  margin-left: 10px;
}

.add-book-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-form,
.add-form-author,
.add-form-categories {
  width: 30%;
  margin: 0.5rem;
  padding: 1rem;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
}

.add-form-categories {
  background-color: #fff;
}

.form-btn {
  color: #fff;
  background-color: #0290ff;
  border: none;
  border-radius: 3px;
  width: 9rem;
  height: 2.8rem;
  cursor: pointer;
}

.form-btn:active {
  opacity: 0.7;
}
